body{
    background-color: #FFFFFF;
    padding:0;
    margin:0;
    text-align:center;
    font-family: 'Roboto', arial;
}
.hero{
    display:flex;
    flex-direction: column;
    background-color: #1f2937;
    height:500px;
}
#placeholder{
    width:400px;
    height:auto;
}
.logo{
    text-align: left;
    color:#f9faf8;
    font-size:24px;
}
.header{
    display: flex;
}
.header div{
    flex:1;
    margin-left: 40px;
    margin-right: 40px;
}
.navlist{
    justify-content: right;
    align-items: center;
    margin: 5px;
    display:inline-flex;
    gap: 10px;
}
.navlist, .hero-text p{
    color:white;
    font-size:18px;
}
a:link, a:visited {
    color: white;
}
a:hover{
    color:purple;
}
.hero-text h1{
    font-size:48px;
    color:#f9faf8;
    weight:900;    
}

.hero-main{
    display:flex;
    width:750px;
}
.hero-main div{
    flex:1;
    border: solid 2px white;
}
.hero-text p, .hero-text h1{
    text-align: left;
}